@import "tailwindcss";

@theme {
  --color-zombies-background: #0a0a0a;
  --color-zombies-surface: #171717;
  --color-zombies-accent: #dc2626;
  --color-zombies-115: #06b6d4;
}

@layer base {
  body {
    background-color: var(--color-zombies-background);
    color: var(--color-gray-200);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
}